In [1]:
import pandas as pd
import numpy as np

In [13]:
pip install gower

Collecting gower
  Downloading gower-0.1.2-py3-none-any.whl (5.2 kB)
Requirement already satisfied: scipy in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from gower) (1.3.1)
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from gower) (1.17.3)
Installing collected packages: gower
Successfully installed gower-0.1.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
import gower

In [3]:
from sklearn.cluster import KMeans

In [4]:
pip install matplotlib

Requirement already satisfied: matplotlib in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (3.5.3)
Requirement already satisfied: packaging>=20.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib) (21.3)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib) (9.3.0)
Requirement already satisfied: numpy>=1.17 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib) (1.17.3)
Requirement already satisfied: pyparsing>=2.2.1 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib) (4.38.0)
Requirement already satisfied: typing-extensions in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib) (4.4.0)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
ev_data = pd.read_csv("EV.csv");

In [9]:
import matplotlib.pyplot as plt

In [10]:
ev_data.head()

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Seats,Price USD
0,Renault,Twingo ZE,12.6,135,130,164,-,No,RWD,Type 2,Hatchback,4,68250.00
1,SEAT,Mii Electric,12.3,130,195,166,170,Yes,FWD,Type 2 CCS,Hatchback,4,66045.00
2,Skoda,CITIGOe iV,12.3,130,195,166,170,Yes,FWD,Type 2 CCS,Hatchback,4,60375.00
3,Smart,EQ forfour,12.7,130,95,176,-,No,RWD,Type 2,Hatchback,4,79118.55
4,Smart,EQ fortwo coupe,11.6,130,100,167,-,No,RWD,Type 2,Hatchback,2,67200.00

In [12]:
from sklearn.manifold import TSNE

In [13]:
distance_matrix = gower.gower_matrix(ev_data)

In [14]:
distance_matrix

array([[0.        , 0.55062145, 0.5527531 , ..., 0.8159402 , 0.77234554,
        0.68421173],
       [0.55062145, 0.        , 0.15597774, ..., 0.6571662 , 0.61357147,
        0.6023607 ],
       [0.5527531 , 0.15597774, 0.        , ..., 0.65929776, 0.61570305,
        0.6044923 ],
       ...,
       [0.8159402 , 0.6571662 , 0.65929776, ..., 0.        , 0.2061251 ,
        0.38090202],
       [0.77234554, 0.61357147, 0.61570305, ..., 0.2061251 , 0.        ,
        0.3286231 ],
       [0.68421173, 0.6023607 , 0.6044923 , ..., 0.38090202, 0.3286231 ,
        0.        ]], dtype=float32)

In [15]:
model = KMeans(n_clusters = 7)

In [17]:
labels = model.fit_predict(distance_matrix)

In [18]:
ev_data["clusters"] = labels;

In [19]:
ev_data.head()

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Seats,Price USD,clusters
0,Renault,Twingo ZE,12.6,135,130,164,-,No,RWD,Type 2,Hatchback,4,68250.00,2
1,SEAT,Mii Electric,12.3,130,195,166,170,Yes,FWD,Type 2 CCS,Hatchback,4,66045.00,1
2,Skoda,CITIGOe iV,12.3,130,195,166,170,Yes,FWD,Type 2 CCS,Hatchback,4,60375.00,1
3,Smart,EQ forfour,12.7,130,95,176,-,No,RWD,Type 2,Hatchback,4,79118.55,2
4,Smart,EQ fortwo coupe,11.6,130,100,167,-,No,RWD,Type 2,Hatchback,2,67200.00,2

In [19]:
model = TSNE(learning_rate=100)

In [24]:
ev_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Brand            103 non-null    object
 1   Model            103 non-null    object
 2   AccelSec         103 non-null    object
 3   TopSpeed_KmH     103 non-null    int64
 4   Range_Km         103 non-null    int64
 5   Efficiency_WhKm  103 non-null    int64
 6   FastCharge_KmH   103 non-null    object
 7   RapidCharge      103 non-null    object
 8   PowerTrain       103 non-null    object
 9   PlugType         103 non-null    object
 10  BodyStyle        103 non-null    object
 11  Seats            103 non-null    int64
 12  Price USD        103 non-null    float64
 13  clusters         103 non-null    int32
dtypes: float64(1), int32(1), int64(4), object(8)
memory usage: 11.0+ KB

In [25]:
ev_data ["Model"] = ev_data["Brand"] + " "  + ev_data["Model"]

In [26]:
ev_data.head()

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Seats,Price USD,clusters
0,Renault,Renault Twingo ZE,12.6,135,130,164,-,No,RWD,Type 2,Hatchback,4,68250.00,1
1,SEAT,SEAT Mii Electric,12.3,130,195,166,170,Yes,FWD,Type 2 CCS,Hatchback,4,66045.00,2
2,Skoda,Skoda CITIGOe iV,12.3,130,195,166,170,Yes,FWD,Type 2 CCS,Hatchback,4,60375.00,2
3,Smart,Smart EQ forfour,12.7,130,95,176,-,No,RWD,Type 2,Hatchback,4,79118.55,1
4,Smart,Smart EQ fortwo coupe,11.6,130,100,167,-,No,RWD,Type 2,Hatchback,2,67200.00,1

In [48]:
ev_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Brand            103 non-null    object
 1   Model            103 non-null    object
 2   AccelSec         103 non-null    object
 3   TopSpeed_KmH     103 non-null    int64
 4   Range_Km         103 non-null    int64
 5   Efficiency_WhKm  103 non-null    int64
 6   FastCharge_KmH   103 non-null    object
 7   RapidCharge      103 non-null    object
 8   PowerTrain       103 non-null    object
 9   PlugType         103 non-null    object
 10  BodyStyle        103 non-null    object
 11  Seats            103 non-null    int64
 12  Price USD        103 non-null    float64
 13  clusters         103 non-null    int32
dtypes: float64(1), int32(1), int64(4), object(8)
memory usage: 11.0+ KB

In [20]:
ev_data.to_csv('ev_clustered.csv', index=False)