In [20]:
import pandas as pd

In [13]:
pip install gower

Collecting gower
  Downloading gower-0.1.2-py3-none-any.whl (5.2 kB)
Requirement already satisfied: scipy in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from gower) (1.3.1)
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from gower) (1.17.3)
Installing collected packages: gower
Successfully installed gower-0.1.2
Note: you may need to restart the kernel to use updated packages.

In [21]:
import gower

In [31]:
from sklearn.cluster import KMeans

In [44]:
pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.5.3-cp37-cp37m-macosx_10_9_x86_64.whl (7.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.3/7.3 MB 793.9 kB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.7 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib) (2.8.2)
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting pillow>=6.2.0
  Downloading Pillow-9.3.0-cp37-cp37m-macosx_10_10_x86_64.whl (3.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.3/3.3 MB 1.2 MB/s eta 0:00:0000:0100:01
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.4-cp37-cp37m-macosx_10_9_x86_64.whl (65 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 65.3/65.3 kB 788.4 kB/s eta 0:00:00a 0:00:01
Requirement already satisfied: pyparsing>=2.2.1 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: numpy>=1.17 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib) (1.17.3)
Requirement already satisfied: packaging>=20.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from matplotlib) (21.3)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.38.0-py3-none-any.whl (965 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 965.4/965.4 kB 1.3 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: typing-extensions in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib) (4.4.0)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: pillow, kiwisolver, fonttools, cycler, matplotlib
Successfully installed cycler-0.11.0 fonttools-4.38.0 kiwisolver-1.4.4 matplotlib-3.5.3 pillow-9.3.0
Note: you may need to restart the kernel to use updated packages.

In [23]:
ev_data = pd.read_csv("EV.csv");

In [24]:
ev_data.head()

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Seats,Price USD
0,Renault,Twingo ZE,12.6,135,130,164,-,No,RWD,Type 2,Hatchback,4,68250.00
1,SEAT,Mii Electric,12.3,130,195,166,170,Yes,FWD,Type 2 CCS,Hatchback,4,66045.00
2,Skoda,CITIGOe iV,12.3,130,195,166,170,Yes,FWD,Type 2 CCS,Hatchback,4,60375.00
3,Smart,EQ forfour,12.7,130,95,176,-,No,RWD,Type 2,Hatchback,4,79118.55
4,Smart,EQ fortwo coupe,11.6,130,100,167,-,No,RWD,Type 2,Hatchback,2,67200.00

In [25]:
distance_matrix = gower.gower_matrix(ev_data)

In [26]:
distance_matrix

array([[0.        , 0.55062145, 0.5527531 , ..., 0.8159402 , 0.77234554,
        0.68421173],
       [0.55062145, 0.        , 0.15597774, ..., 0.6571662 , 0.61357147,
        0.6023607 ],
       [0.5527531 , 0.15597774, 0.        , ..., 0.65929776, 0.61570305,
        0.6044923 ],
       ...,
       [0.8159402 , 0.6571662 , 0.65929776, ..., 0.        , 0.2061251 ,
        0.38090202],
       [0.77234554, 0.61357147, 0.61570305, ..., 0.2061251 , 0.        ,
        0.3286231 ],
       [0.68421173, 0.6023607 , 0.6044923 , ..., 0.38090202, 0.3286231 ,
        0.        ]], dtype=float32)

In [38]:
model = KMeans(n_clusters = 7)

In [39]:
labels = model.fit_predict(distance_matrix)

In [40]:
labels

array([2, 4, 4, 2, 2, 2, 4, 6, 6, 0, 4, 4, 6, 6, 0, 0, 0, 0, 0, 0, 4, 4,
       4, 0, 4, 0, 4, 4, 4, 0, 0, 6, 0, 0, 0, 0, 0, 5, 4, 4, 4, 5, 4, 5,
       5, 1, 1, 5, 5, 1, 4, 6, 4, 6, 1, 6, 6, 6, 5, 5, 5, 1, 1, 1, 5, 5,
       1, 5, 3, 3, 3, 5, 3, 3, 5, 5, 5, 5, 5, 5, 5, 1, 5, 5, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 5, 4, 4, 2, 3, 3, 3], dtype=int32)

In [41]:
ev_data["clusters"] = labels;

In [42]:
ev_data.head()

,Brand,Model,AccelSec,TopSpeed_KmH,Range_Km,Efficiency_WhKm,FastCharge_KmH,RapidCharge,PowerTrain,PlugType,BodyStyle,Seats,Price USD,clusters
0,Renault,Twingo ZE,12.6,135,130,164,-,No,RWD,Type 2,Hatchback,4,68250.00,2
1,SEAT,Mii Electric,12.3,130,195,166,170,Yes,FWD,Type 2 CCS,Hatchback,4,66045.00,4
2,Skoda,CITIGOe iV,12.3,130,195,166,170,Yes,FWD,Type 2 CCS,Hatchback,4,60375.00,4
3,Smart,EQ forfour,12.7,130,95,176,-,No,RWD,Type 2,Hatchback,4,79118.55,2
4,Smart,EQ fortwo coupe,11.6,130,100,167,-,No,RWD,Type 2,Hatchback,2,67200.00,2